:root {
  --clr-cyan-dark: hsl(158, 36%, 37%);
  --clr-cyan-light: hsl(159, 74%, 15%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-blue-dark: hsl(212, 21%, 14%);
  --clr-gray-dark: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Fraunces", serif;
  --fw-normal: 500;
  --fw-bold: 700;
  --fs-small: 0.875rem;
  --fs-normal: 1rem;
  --fs-large: 2.2rem;
}

@media (max-width: 800px) {
  :root {
    --fs-normal: 0.875rem;
    --fs-large: 1.8rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-normal);
  font-size: var(--fs-normal);

  background-color: var(--clr-cream);
  color: var(--clr-blue-dark);
}

main {
  min-height: 100vh;
}

p {
  line-height: 1.7;
}

/* Layout Styles */

.l-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.l-constraint {
  max-width: 650px;
}

@media (max-width: 800px) {
  .l-constraint {
    max-width: 420px;
    margin-inline: 0.8rem;
  }
}

/* Modules Styles */

.heading {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-large);
  line-height: 0.95;
}

.button {
  width: 100%;
  padding: 1rem;

  border: none;
  border-radius: 8px;

  background-color: var(--clr-cyan-dark);
  color: var(--clr-white);
  font-weight: var(--fw-bold);

  cursor: pointer;
	box-shadow:  7px 7px 15px -19px rgba(0, 0, 0, 0.46);
	-webkit-box-shadow:  7px 7px 15px -19px rgba(0, 0, 0, 0.46);
}

.button:focus,
.button:hover {
  background-color: var(--clr-cyan-light);
}

.icon {
  margin-right: 0.8em;
}

/* Card */

.card {
  border-radius: 10px;
  background-color: var(--clr-white);
  overflow: hidden;

	box-shadow:  7px 7px 15px -19px rgba(0, 0, 0, 0.46);
	-webkit-box-shadow:  7px 7px 15px -19px rgba(0, 0, 0, 0.46);
}

.card > * {
  flex: 1;
}

.card_image {
  min-width: 320px;
}

.card_image img {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.card_body {
  padding: 2rem;
}

.card_body > * {
  margin: 0;
}

.card_body > *:not(:first-child) {
  margin-top: 1.6rem;
}

.card_body .heading {
  margin-top: 0.85rem;
}

.card_body > p:not(.heading) {
  color: var(--clr-gray-dark);
}

.card_body .tagline {
  letter-spacing: 0.53ch;
  font-size: var(--fs-small);
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .card_body {
    padding: 1.8rem;
  }

  .card_body > *:not(:first-child) {
    margin-top: 1.1rem;
  }
}

/* Product Card */

.productCard .productCard_price {
  display: flex;
  align-items: center;
  margin-top: 2.3rem;
  gap: 0.8752rem;

  color: var(--clr-cyan-dark);
}

.productCard_price > .original {
  font-family: var(--ff-primary);
  font-weight: var(--fw-normal);
  font-size: var(--fs-small);
  text-decoration: line-through;

  color: var(--clr-gray-dark);
}

/* Footer Links */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--clr-cyan-dark);
  text-decoration: none;
}
