@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../../assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}
:root {
  --clr-orange: hsl(14.6, 100%, 61.4%);
  --clr-accent: hsl(4, 100%, 67%);
  --clr-primary: hsl(234, 29%, 20%);
  --clr-secondary: hsl(235, 18%, 26%);
  --clr-error: hsl(352, 79%, 59%);
  --clr-error-bg: hsla(352, 78%, 53%, 0.15);
  --clr-gray: hsl(231, 7%, 60%);
  --clr-pink: hsl(345.7, 79.1%, 60.6%);
  --clr-white: hsl(0, 0%, 100%);
  --gradient-primary: linear-gradient(90deg, var(--clr-pink) 0%, var(--clr-orange) 100%);
  --ff-primary: "Roboto", sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
  --fs-small: 0.875rem;
  --fs-normal: 1rem;
  --fs-large: 2.8rem;
  --size-xsmall: 0.5rem;
  --size-small: 0.75rem;
  --size-medium: 0.875rem;
  --size-large: 1.3rem;
  --size-xlarge: 1.45rem;
}
@media (min-width: 900px) {
  :root {
    --fs-large: 3.2rem;
    --size-large: 1.45rem;
    --size-xlarge: 1.55rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img, picture {
  display: block;
  max-width: 100%;
}

input, button {
  font: inherit;
}

p, h1, h2, h3 {
  margin-block: var(--size-large);
}

p {
  margin-block: var(--size-medium);
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-normal);
  color: var(--clr-secondary);
  line-height: 1.5;
}

footer {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
  padding: 1rem;
}

.attribution {
  font-size: var(--fs-small);
  text-align: center;
}

.attribution a {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  text-decoration: underline;
}

.l-constraint {
  max-width: 900px;
}

.l-newsletter {
  display: flex;
  min-height: 100vh;
  background-color: var(--clr-secondary);
}
@media (min-width: 500px) {
  .l-newsletter {
    align-items: center;
    justify-content: center;
  }
}

.heading {
  margin: var(--size-large) 0;
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  color: var(--clr-primary);
}

.button {
  width: 100%;
  padding: 0.875em 1.3em;
  margin-block: var(--size-medium);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 8px;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  cursor: pointer;
}
.button:hover, .button:focus-visible {
  outline: none;
  background: var(--gradient-primary);
  box-shadow: var(--clr-pink) 0px 10px 35px -2px;
}

.list {
  --marker-size: 21px;
  padding: 0;
}
.list > * {
  position: relative;
  padding-left: calc(var(--marker-size) + 1.2rem);
  list-style: none;
}
.list > *:not(:first-child) {
  margin-top: var(--size-medium);
}
.list > *::before {
  content: "";
  position: absolute;
  width: var(--marker-size);
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  background-image: url("../../assets/images/icon-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--marker-size);
}

.form {
  margin-top: calc(var(--size-xlarge) + 0.8rem);
}

.labelAndErrorContainer {
  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: var(--fw-bold);
  font-size: var(--fs-small);
}

.errorMsg {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  color: var(--clr-error);
}

.input {
  display: block;
  width: 100%;
  margin-top: var(--size-xsmall);
  margin-bottom: var(--size-small);
  padding: var(--size-medium);
  border-radius: 8px;
  border: 1px solid var(--clr-gray);
}
.input.invalid {
  color: var(--clr-error);
  outline: 1px solid var(--clr-error);
  background-color: var(--clr-error-bg);
}
.input:focus {
  outline: 1px solid var(--clr-primary);
}

.card {
  padding: var(--size-xlarge);
  border-radius: 20px;
  background-color: var(--clr-white);
  box-shadow: var(--clr-primary) 0px 10px 35px -2px;
}

.card_body {
  padding: var(--size-xlarge);
}

.card_header img {
  width: 100%;
}

.newsletterForm,
.newsletterThanksMsg {
  display: flex;
  flex-direction: column;
  max-width: 900px;
}
@media (max-width: 499px) {
  .newsletterForm,
  .newsletterThanksMsg {
    padding: 0;
    border-radius: 0;
  }
}

@media (min-width: 900px) and (min-width: 900px) {
  .newsletterForm {
    gap: 2rem;
    flex-direction: row-reverse;
  }
}
.newsletterThanksMsg {
  padding: var(--size-xlarge);
}

@media (min-width: 500px) {
  .newsletterThanksMsg .image_container {
    max-width: 50px;
  }
  .newsletterThanksMsg p,
  .newsletterThanksMsg .heading {
    max-width: 350px;
  }
}
@media (max-width: 499px) {
  .newsletterThanksMsg {
    flex: 1;
  }
  .newsletterThanksMsg .image_container {
    margin-block: var(--size-xlarge);
  }
  .newsletterThanksMsg .button,
  .newsletterThanksMsg .image_container {
    margin-top: auto;
  }
}
.is-hidden {
  display: none !important;
}
