@font-face {
  font-family: "Epilogue";
  src: local("Epilogue"), url(../font/Epilogue-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  src: local("Epilogue"), url(../font/Epilogue-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}